<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="node_modules/material-icons/iconfont/material-icons.css" />
    <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.css" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {% include("partials/navegador.html") %}
    <div class="row">
      <div class="col">{% block body %} {% endblock %}</div>
    </div>
  </body>
</html>
